.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--foreground), var(--foreground));
  border-radius: var(--radius-md);
  transition: all 0.2s ease;
  border: 1px solid transparent;

  @media (hover: hover) {
    &:hover {
      background-color: light-dark(var(--accent), var(--accent));
      border-color: light-dark(var(--border), var(--border));
    }
  }
}
