.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  color: light-dark(var(--sidebar-foreground), var(--sidebar-foreground));
  font-size: var(--mantine-font-size-sm);

  @media (hover: hover) {
    &:hover {
      background-color: light-dark(
        var(--sidebar-accent),
        var(--sidebar-accent)
      );
      color: light-dark(
        var(--sidebar-accent-foreground),
        var(--sidebar-accent-foreground)
      );
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: light-dark(
        var(--sidebar-primary),
        var(--sidebar-primary)
      );
      color: light-dark(
        var(--sidebar-primary-foreground),
        var(--sidebar-primary-foreground)
      );
    }
  }
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-xl);
  margin-left: var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--sidebar-foreground), var(--sidebar-foreground));
  border-left: rem(1px) solid light-dark(var(--border), var(--border));

  @media (hover: hover) {
    &:hover {
      background-color: light-dark(
        var(--sidebar-accent),
        var(--sidebar-accent)
      );
      color: light-dark(
        var(--sidebar-accent-foreground),
        var(--sidebar-accent-foreground)
      );
    }
  }

  &[data-active] {
    &,
    &:hover {
      color: light-dark(var(--sidebar-primary), var(--sidebar-primary));
      border-left-color: light-dark(
        var(--sidebar-primary),
        var(--sidebar-primary)
      );
    }
  }
}

.chevron {
  transition: transform 200ms ease;
}
